




.dashboard {
  position: relative;
  padding: .5rem 1rem;
  height: 125px;
  border-bottom: 5px solid #119cab;
  font-size: 25px;

}



.active {
  background-color: transparent;
  color: black !important;
  text-decoration: none !important;
}



.dashboard-dash .dash-link.active {
  background-color: transparent;
  color: black !important;
  text-decoration: none !important;

}



a {
  text-decoration: none !important;
  background-color: transparent;
  cursor: pointer;
}



.dash-link:hover {
  color: rgba(0,0,0,1) !important;
}





.tab-pane {
  background-color:transparent;
}


